.menuBox {
  height: 100px;
  width: 200px;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  display: flex;
  justify-content: ;
  align-content: flex-end;
}

.box {
}

.box {
  padding: px;
  border-style: solid;
  border-width: px;
  display: block;
  width: 33.3333%;
  height: ;
  background-color: green;
  transition: width 0.5s, height 0.5s, background-color 0.5s, transform 0.5s;
}

.box:hover {
  /* background-color: #ffcccc; */
  width: ;
  height: ;
  transform: scale3d();
  background-color: rgb(15, 171, 15);
  border: 2px rgb(0, 0, 0) solid;
  box-shadow: 10px 5px 5px rgb(108, 108, 108);
}
